.user-signup-page {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
}
  
.signup-content-container {
    flex-grow: 1; 
    flex-direction: column; 
    display: flex;
    justify-content: center;  
    align-items: center;  
    padding: 40px 20px;  
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff; 
  }